/*
  Custom styles for Trackster App
*/
html {
  font-size: 16px;
}

.brand-search {
  background-color: rgb(35, 2, 63);
  color: rgb(255, 0, 171);
  display: flex;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}

h1 {
  margin-top: 0;
  margin-bottom: 0;
  font-family: Righteous, serif;
  font-size: 2.5rem;
}

input {
  color: rgb(74, 74, 74);
  border-radius: 1rem;
  height: 2.5rem;
}

.brand-search i {
  background-color: rgb(255, 102, 204);
  color: rgb(35, 2, 63);
  padding: 0.5rem;
  border-radius: 1rem;
  text-align: center;
  margin-left: 0.5rem;
}

.brand-search i:hover {
  background-color: rgb(255, 0, 171);
}

.header-data {
  background-color: rgb(104, 0, 255);
  color: rgb(255, 255, 255);
}

span {
  font-family: "Work Sans", sans-serif;
  font-size: 1rem;
  padding: 0.5rem 0;
}

#results {
  background-color: rgb(204, 204, 204);
}

#results:hover {
  background-color: rgb(239, 237, 242);
}

#results i {
  color: rgb(255, 0, 171);
  padding: 0.5rem 0;
}
